.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background-color:rgb(63, 169, 104);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: rgb(16, 122, 56);
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(149, 145, 145, 0.24);
}




.ag-theme-alpine {
  --ag-background-color: rgb(227, 239, 219); 
  --ag-foreground-color: rgb(0, 0, 0);
  --ag-odd-row-background-color: rgb(168, 217, 166); 
  --ag-header-foreground-color: rgb(242, 246, 240);
  --ag-header-background-color: rgb(63, 169, 104);
  --ag-header-cell-hover-background-color: rgb(16, 122, 56);

}

.ag-theme-alpine .ag-header-cell-label {
 
font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

input {
  width: 15%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

colorDefault {
  color: rgb(16, 140, 64);  
}
.MuiAppBar-colorDefault {
  color: rgb(16, 140, 64);
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }





}
